.container{
    border: 2px solid black;
    display: grid;
    grid-template-areas: "nav nav nav"
                         "side main main"
                         "footer footer footer";
}

.item{
    border: 2px solid red;
    /* height: 55px; */
    /* width: 55px; */
}

.item-1{
    grid-area: nav;
    background-color: orange;
}

.item-2{
    grid-area: side;
    background-color: brown;
}

.item-3{
    grid-area: main;
    background-color: blueviolet;
}

.item-4{
    grid-area: footer;
    background-color: purple;
}

.item-5{
    grid-area: nav;
}